@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --main-color: #c0392b;
    --body-bg: #181616;
    --box-bg: #221f1f;
    --text-color: #ffffff;

    --nav-height: 60px;
    --space-top: 30px;
    
    /*Colors*/
    --raisin-black: hsl(228, 13%, 15%);
    --gunmetal-1: hsl(229, 15%, 21%);
    --white: hsl(0, 100%, 100%);
    --citrine: hsl(57, 97%, 45%);
    --gray-x: hsl(0, 0%, 74%);
    --gainsboro: hsl(0, 7%, 88%);
    --jet: hsl(0, 0%, 20%);
    --gunmetal-1: hsl(229, 15%, 21%);
    --gunmetal-2: hsl(216, 22%, 18%);
    --container-color: #2d2e37;
/**
   * typography
   */

   --ff-poppins: 'Poppins', sans-serif;

   --fs-1: 36px;
   --fs-2: 32px;
   --fs-3: 30px;
   --fs-4: 24px;
   --fs-5: 20px;
   --fs-6: 18px;
   --fs-7: 16px;
   --fs-8: 15px;
   --fs-9: 14px;
   --fs-10: 13px;
   --fs-11: 12px;
   --fs-12: 11px;
 
   --fw-500: 500;
   --fw-700: 700;
  /**
   * transition
   */

  --transition-1: 0.15s ease;
  --transition-2: 0.25s ease-in;
    /** spacing*/

  --section-padding: 100px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Cairo", sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    padding-top: var(--nav-height);
}

a {
    text-decoration: none;
    color: unset;
}

img {
    max-width: 100%;
}
.main-color {
    color: var(--main-color);
}

.container {
    max-width: 1920px;
    padding: 0 40px;
    margin: auto;

}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #000000;
}

.nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    height: var(--nav-height);
}

.nav a {
    color: var(--text-color);
}

.logo {
    font-size: 2rem;
    font-weight: 900;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.nav-menu li ~ li {
    margin-left: 30px;
}

.nav-menu a {
    text-transform: uppercase;
    font-weight: 700;
}

.nav-menu a:hover {
    color: var(--main-color);
}

.nav-menu a.btn:hover,
a.logo:hover,
a.movie-item:hover {
    color: unset;
}
/*Search-Box*/
.search-box{
/*    max-width: 200px;*/
    width: 500px;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background-color: var(--container-color);
    border-radius: 4rem;
    margin-right: 1rem;
    margin-top: 10px;
}

.search-box .bx:hover{
    color: var(--main-color);
}
.btn-search{
    width: 10px;
    height: 20px;
}
#search-input{
    width: 100%;
    border: none;
    outline: none;
    color: #ffffff;
    background: transparent;
    font-size: 0.938rem;
}

#result-search{

    width: 500px;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: var(--container-color);
    background: transparent;
    font-size: 0.938rem;
}

.btn {
    color: #ffffff;
    padding: 0.25rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    align-items: center;
}

.btn-hover::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
    transition: 0.3s ease-in-out;
}

.btn-hover:hover::before {
    width: 100%;
}

.btn i,
.btn span {
    z-index: 1;
}

.btn i {
    margin-right: 1rem;
}

.hamburger-menu {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    cursor: pointer;
    z-index: 101;
    position: relative;
    display: none;
    align-items: center;
}

.hamburger {
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: var(--size);
    height: 3px;
    border-radius: 0.5rem;
    background-color: var(--text-color);
    transition: 0.4s;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
}

.hamburger::before {
    top: -10px;
}

.hamburger::after {
    bottom: -10px;
}

.hamburger-menu.active .hamburger {
    background-color: transparent;
}

.hamburger-menu.active .hamburger::before {
    transform-origin: top left;
    transform: rotate(45deg);
    left: 6px;
}

.hamburger-menu.active .hamburger::after {
    transform-origin: bottom left;
    transform: rotate(-45deg);
    left: 6px;
}

.hero-slide-item {
    padding-top: 40%;
    position: relative;
    overflow: hidden;
}

.hero-slide-item img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-slide-item-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    display: flex;
}

.item-content-wraper {
    padding-left: 5rem;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.item-content-wraper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.item-content-title {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 900;
}

.movie-infos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: calc(var(--space-top) / 2);
}

.movie-info {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
}

.movie-info span {
    margin-left: 5px;
}

.movie-info i {
    color: var(--main-color);
}

.movie-info ~ .movie-info {
    margin-left: 5px;
}

.item-content-description {
    font-size: 1.15rem;
    margin-top: var(--space-top);
    line-height: 1.5rem;
}

.item-action {
    margin-top: var(--space-top);
}

.carousel-nav-center {
    position: relative;
}

.carousel-nav-center .owl-nav button i {
    font-size: 3rem;
}

.carousel-nav-center .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-nav-center .owl-nav .owl-prev {
    position: absolute;
    left: 5px;
}

.carousel-nav-center .owl-nav .owl-next {
    position: absolute;
    right: 5px;
}

.owl-nav button {
    border: none;
    outline: none;
}

.owl-nav button i {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}

.owl-nav button:hover i {
    color: var(--main-color);
}

.top-down {
    transform: translateY(-50px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.delay-2 {
    transition-delay: 0.2s;
}

.delay-4 {
    transition-delay: 0.4s;
}

.delay-6 {
    transition-delay: 0.6s;
}

.delay-8 {
    transition-delay: 0.8s;
}

.owl-item.active .top-down {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

/*
.level-right{

    position: relative;
    top: 0;
    margin-bottom: 50px;
}
*/
/*.movie-card {
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 140%;
    cursor: pointer;
}

.movie-cardimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s linear;
}

.movie-card:hover img {
    transform: scale(1.2);
}


.movie-card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
}

.movie-card-content::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}*/


/*.movie-cards{
    width: 90%;
}*/
.movie-card{
    width: 350px;
    padding-top: 0px;
    height: 200px;
}
.movie-card img {
    position: relative;
   
}
.movie-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
}
.movie-content::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
.movie-cards{
    display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 30px;
}
 @media (max-width: 768px) {
    .movie-cards{
        display: grid;
      grid-template-columns: 1fr;
      row-gap: 30px;
      margin-left: 0px;
      padding-left: 0px;
    }

 }
 .rating .checked{
    color: orange;
 }
.movie-item {
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 140%;
    cursor: pointer;
}

.movie-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s linear;
}

.movie-item:hover img {
    transform: scale(1.2);
}

.movie-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
}

.movie-item-content::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.movie-item-title {
    color: var(--text-color);
    font-size: 1.5rem;
    position: relative;
    font-weight: 700;
}

.section {
    padding-top: 80px;
}

.section-header {
    margin-bottom: 30px;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    border-left: 4px solid var(--main-color);
    display: flex;
    align-items: center;
}

.pricing-header {
    margin-bottom: 30px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.pricing-box {
    padding: 50px;
    margin: 15px 0;
    background-color: var(--box-bg);
    border-top: 5px solid transparent;
    transition: transform 0.3s ease-in-out;
}

.pricing-box:hover {
    transform: translateY(-20px);
}

.pricing-box.hightlight {
    border-top: 5px solid var(--main-color);
}

.pricing-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

.pricing-price {
    font-weight: 700;
}

.pricing-price span {
    font-size: 1rem;
}

.pricing-box-content {
    text-align: center;
    margin-top: 60px;
    font-size: 1.25rem;
}

.pricing-box-action {
    text-align: center;
    margin-top: 60px;
}

footer.section {
    margin-top: 80px;
    padding-bottom: 80px;
    position: relative;
    background-color: var(--box-bg);

}
/*.footer-layout{
     margin-top: 80px;
    padding-bottom: 80px;
    position: absolute;
    background-color: var(--box-bg);
    top: 1000px;
    bottom: 0;
}*/

footer a:hover {
    color: var(--main-color);
}

footer a.logo {
    margin-top: -2.5rem;
    display: block;
}

footer a.logo:hover {
    color: unset;
}

.social-list {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.social-item {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--text-color);
    color: var(--main-color);
}

.social-item:hover {
    background-color: var(--main-color);
    color: var(--text-color);
}

.social-item ~ .social-item {
    margin-left: 20px;
}

footer .content {
    margin-top: 20px;
}

.footer-menu {
    list-style-type: none;
}

.footer-menu a {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.footer-menu a:hover {
    transform: translateX(5px);
}

.copyright {
    padding: 10px;
    border-top: 1px solid var(--body-bg);
    background-color: var(--box-bg);
    text-align: center;
    position: relative;
}
/*.copyright-movie{
      padding: 10px;
    border-top: 1px solid var(--body-bg);
    background-color: var(--box-bg);
    text-align: center;
    position: relative;
    width: 100%;
    top: 1000px;
    bottom: 0;
}*/
/* RESPONSIVE */

@media only screen and (max-width: 1280px) {
    html {
        font-size: 14px;
    }

    .hero-slide-item {
        padding-top: 50%;
    }

    .item-content-wraper {
        width: 50%;
    }
}

@media only screen and (max-width: 850px) {
    html {
        font-size: 12px;
    }

    .container {
        padding: 0 15px;
    }

    .hero-slide-item {
        height: max-content;
        padding-top: unset;
    }

    .item-content-wraper {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
        padding-right: 5rem;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .hero-slide-item-content {
        position: relative;
    }

    .hero-slide-item img {
        height: 100%;
    }

    .item-content-title {
        font-size: 3rem;
    }

    .hamburger-menu {
        display: grid;
    }

    .nav-menu {
        /* display: none; */
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: #000000;
        flex-direction: column;
        width: 80%;
        height: 100vh;
        padding: 20px;
        transition: 0.3s ease-in-out;
    }

    .nav-menu li {
        margin: 10px 30px;
    }

    .nav-menu.active {
        left: 0;
    }
    .search-box{

        max-width: 200px;
        width: 100%;
    }

  }
   .backdrop-layout{

        width: 80%;
        height: auto;
    }

/*   #MOVIE-DETAILS
\*---------------------------*/

.movie-detail{
    background:url("./images/wanda-banner.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 120px;
    padding-bottom: var(--section-padding);
}

.movie-detail-banner{
    position: relative;
    background: var(--gunmetal-1);
    max-width: 350px;
    margin-inline: auto;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 50px;
}

.movie-detail-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play-btn{
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    font-size: 120px;
    color: var(--white);
    transition: var(--transition-1);
}

.play-btn:hover{
    background: hsla(0,0%,0%,0.25);
}
.ion-icon { display: block; }

.icon-inner, .ionicon, svg {
    display: block;
    height: 100%;
    width: 100%;
}

.detail-subtitle {
    font-size: var(--fs-5);
    color: var(--citrine);
    font-weight: var(--fw-700);
    margin-bottom: 10px;
}

.h1,
.h2,
.h3 {
  color: var(--white);
  line-height: 1.2;
}

.h1 { font-size: var(--fs-1); }

.detail-title { margin-bottom: 20px; }

.detail-title strong { color: var(--citrine); }

.badge {
    color: var(--white);
    font-size: var(--fs-12);
    font-weight: var(--fw-700);
    border: 2px solid transparent;
    padding: 2px 10px;
}
.badge-fill {
    background: var(--white);
    color: var(--raisin-black);
  }
  
.div{
    display: block;
}

.badge-wrapper,
.ganre-wrapper,
.date-time {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px 10px;
}

.badge-outline { border-color: var(--white); }

.movie-detail .meta-wrapper { margin-bottom: 30px; }
.meta-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 15px 25px;
    margin-bottom: 50px;
  }
  
.storyline {
    color: var(--gray-x);
    font-size: var(--fs-9);
    font-weight: var(--fw-500);
    line-height: 1.8;
    margin-bottom: 40px;
    font-weight: bold;
  }
.details-actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 40px;
    max-width: 460px;
    background: var(--gunmetal-2);
    padding: 25px;
    border: 1px solid var(--jet);
    border-radius: 4px;
    margin-bottom: 30px;
}

.details-actions .share ion-icon{
    font-size: 25px;
    color: var(--white);
    margin-inline: auto;
    display: block;
    
  }
  .details-actions .share ion-icon {
    font-size: 25px;
    color: var(--white);
    margin-inline: auto;
    display: block;
}
.details-actions .share:is(:hover, :focus) span{
    color: var(--citrine);
}
.details-actions .share span{
    color: var(--gainsboro);
    font-size: var(--fs-11);
    transition: var(--transition-1);
}
.details-actions .share .ion-icon{
    display: block;
}
button {
    font: inherit;
    background: none;
    border: none;
    cursor: pointer;

}
/*
.details-actions .btn-primary{
    font-size: 10px;
    padding: 13px 26px;
    letter-spacing: 0;
    background: transparent;
}
.details-actions .btn {
    color: var(--white);
    font-size: var(--fs-11);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px 30px;
 
    border-radius: 50px;
    transition: var(--transition-1);
}
.details-actions .btn-primary {
    font-size: 10px;
    padding: 13px 26px;
    letter-spacing: 0;
    background: transparent;
  }
  
  .details-actions .btn-primary:is(:hover, :focus) { background: var(--citrine); }
  .details-actions .title{
    color: var(--white);
    font-weight: var(--fw-700);
  }
  */
  .details-actions .text {
    font-size: var(--fs-11);
    color: var(--gainsboro);
}
.date-time ion-icon{
    --ionicon-stroke-width: 50px;
    color: var(--main-color);
}
.date-time{
    gap: 15px;
}
.badge-wrapper, .ganre-wrapper, .date-time {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px 10px;
}
.date-time > div{
    display: flex;
    align-items: center;
    gap: 5px;
    color: cornsilk;
    font-size: var(--fs-9);
    font-weight: 900;
}
.download-btn {
    max-width: max-content;
    background: var(--main-color);
    color: var(--rich-black-fogra-29);
    font-size: var(--fs-11);
    font-weight: var(--fw-500);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 35px;
    letter-spacing: 5px;
    border-radius: 6px;
}
@media (min-width: 550px) {
    :root {

        /**
         * typography
         */
    
        --fs-1: 42px;
    
      }

      .container {
        max-width: 540px;
        margin-inline: auto;
      }
      .detail-subtitle { --fs-5: 22px; }

      .detail-title { --fs-1: 46px; }
}


/**
 * responsive for large than 768px screen
 */

 @media (min-width: 768px) {

    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-2: 36px;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 720px; }
  
    /**
     * MOVIE DETAIL
     */
  
    .detail-subtitle { --fs-5: 26px; }
  
    .detail-title { --fs-1: 50px; }
  
  }

/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px){
     /**
   * MOVIE DETAIL
   */
   .container { max-width: 960px; }

  .movie-detail { padding-bottom: 200px; }

  .movie-detail .container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .movie-detail-banner,
  .details-actions { margin: 0; }

  .download-btn {
    position: absolute;
    left: 15px;
    bottom: -80px;
  }

}


/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {
     /**
   * MOVIE DETAIL
   */
   :root {

    /**
     * typography
     */

    --fs-1: 60px;
    --fs-4: 26px;

  }
  /**
   * REUSED STYLE
   */

  .container { max-width: 1320px; }
  .movie-detail { padding-bottom: var(--section-padding); }

  .movie-detail-content { max-width: 620px; }

  .detail-title { --fs-1: 60px; }

  .download-btn {
    left: auto;
    right: 15px;
    bottom: 0;
    transform: rotate(0.25turn) translateY(100%);
    transform-origin: bottom right;
    padding: 40px 50px;
  }

  .download-btn ion-icon {
    font-size: 30px;
    transform: rotate(-0.25turn);
  }

}

.select select {
    cursor: pointer;
    display: block;
    font-size: 1em;
    max-width: 100%;
    outline: none;
}
.input, .select select, .textarea {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;
}

 .column.is-6-mobile {
    width: 150px;

  }
  .column.is-offset-6-mobile {
    margin-left: 50%;
  }
 
.btn-filter{
    width: auto;
    color:var(--container-color) ;
    margin-right: 10px;
}

.title_filters__2FjQh {
  padding: 0 10px;
  background-color: gray;
  margin-bottom: 2em;
  border-radius: 0px;
  justify-content: space-between;
  align-items: flex-end;
 /* flex-flow: row wrap;
  flex-direction: row;
  display:grid ;*/
  display: flex;
  flex-wrap: wrap;
  background-color: var(--container-color);
}
.title_filters__2FjQh .form-control{

    background:var(--body-bg);
    color:#ffffff;
    border-color: var(--body-bg);
}
/*@media screen and (max-width:700px) {
  .title_filters__2FjQh {
    flex-flow: column wrap;
  }
}*/
@media (max-width: 768px) {
   .title_filters__2FjQh .column  {flex: 0 1 50%} /* each 50% of the parent's width (2 columns) */
}

/* if you want for the third column to take the remaining space, just change the first number to 1 to enable growing/expanding of flex-items */
@media (max-width: 320px) {
   .title_filters__2FjQh .column  {flex-basis: 100%} /* each 100% of the parent's width (1 column) */
}
/*@media screen and (max-width: 768px) {
  .columns.is-variable.is-6-mobile {
    --columnGap: 1.5rem;
  }
}*/
.title_filters__2FjQh .select,
.title_filters__2FjQh select {
  width: 150px;
}
.title_filters__2FjQh .select:after,
.title_filters__2FjQh select:after {
  z-index: 1;
}



.title_filters__2FjQh .control{

    width: 150px;
}
.title_filters__2FjQh .field{


    width: 150px;
}

.modal-dialog {
      max-width: 820px;
      margin: 30px auto;
  }

.modal-body {
  position:relative;
  padding:0px;
  width: 100%;
}
.modal{

    padding-top: 100px ;
    width: 100%;
}


.modal-body iframe{
        width: 100%;;
        margin: 0 auto;
        display: block;
    }


.btn-close {
  position:absolute;
  right:-30px;
  top:0;
}